:root {
    --primary: #fff;
}

.btn {
    padding: 1em;
    border-radius: 20px;
    outline: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.btn--primary {
    background-color: var(--primary);
    color: #242424;
    border: 3px solid var(--primary);
    padding: 1em;
    text-decoration: none;
}

.btn--outline {
    background-color: transparent;
    color: #fff;
    padding: 1em;
    /* display: block; */
    width: 100%;
    text-decoration: none;
    border: 3px solid var(--primary);
    border-radius: 20px;
    transition: all 0.6s ease-in;

}

.btn--medium {
    padding: 8px 20px;
    font-size: 20px;
}

.btn--large {
    padding: 12px 26px;
    font-size: 20px;
}

.btn--medium:hover, .btn--large:hover {
    background: #fff;
    color: #242424;
    transition: all 0.3s ease-out;
}