/* video {
    object-fit: cover;
    width : 100%;
    height : 100%;
    position: fixed;
    z-index: -1;
} */

.hero-container {
    background: url('../images/tiger-hero.jpg') center center no-repeat;
    height: 100vh;
    width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: centre;
    box-shadow: inset 0 0 0 0 1000px rgba(0,0,0,0.2);
}

.h1{
    color: #ffffff
}

.p {
    color: #ffff
}