/* video {
    object-fit: cover;
    width : 100%;
    height : 100%;
    position: fixed;
    z-index: -1;
} */


.hero-container {
    
    /* Sizing */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    

    /* background image  */
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),  url('../images/tiger-hero.jpg') ;
    /* background-color: black; */
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;

    /* text */
    text-align: center;
    color: white;
    color: white;

    /* arrangement */
    flex-direction: column;

}

.hero-container h1 {
    /* Text styles */
    font-size: 5em;
    margin-top: 0;
    margin-bottom: 0.3em;
}

.hero-container p {
    /* Text styles */
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 2.5em;
}
